@use "sass:map";
@import "../../assets/styles/variables.scss";

$gap: 24px;

.content {
  max-width: 1503px;
  display: flex;
  gap: $gap;

  // Добавил от себя, т.к. не нашёл в в ТЗ дизайна на меньшее расширение
  @media screen and (max-width: 760px) {
    flex-direction: column;
  }
}
