@use "sass:map";
@import "../../../assets/styles/variables.scss";

$padding: 12px;

.wrapper {
  min-height: 234px;
  height: min-content;
  border: 1px #cfcfe4 solid;
  border-radius: 18px;
  padding: $padding;
  display: flex;
  flex-direction: column;

  // Добавил от себя, т.к. не нашёл в в ТЗ дизайна на меньшее расширение
  @media screen and (max-width: map.get($screens, md)) {
    width: 100%;
    text-align: center;
  }

  span {
    width: 240px;
    padding: $padding;
    box-sizing: border-box;
    // Добавил от себя
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      scale: 1.1;
    }

    // Добавил от себя, т.к. не нашёл в в ТЗ дизайна на меньшее расширение
    @media screen and (max-width: map.get($screens, md)) {
      width: 100%;
    }
  }

  .active {
    background-color: #5fbf77;
    color: #ffffff;
    border-radius: $padding;
  }
}
