@use "sass:map";
@import "../../../assets/styles/variables.scss";

$gap: 18px;

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap;
  width: 100%;
  justify-items: center;

  // Добавил от себя, т.к. не нашёл в в ТЗ дизайна на меньшее расширение
  @media screen and (max-width: map.get($screens, sm)) {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
    max-width: 393px;
    height: 210px;
    border-radius: 18px;
    box-shadow: 0px 10px 13px -4px #23235f30;
    // Добавил от себя
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      scale: 1.1;
      transform: rotate(-5deg);
    }

    @media screen and (max-width: map.get($screens, lg)) {
      max-width: 253px;
    }

    // Добавил от себя, т.к. не нашёл в в ТЗ дизайна на меньшее расширение
    @media screen and (max-width: map.get($screens, sm)) {
      max-width: 393px;
    }

    .body {
      height: 162px;
      padding: 9px 0;

      img {
        width: 100%;
        height: 144px;
        object-fit: contain;
      }
    }

    .footer {
      min-height: 48px;
      padding: 12px 18px 18px 18px;
      gap: 10px;
      opacity: 0px;
      text-align: left;
      background-color: #ffffff;
    }
  }
}
